{% extends "base.html" %}
{% load i18n %}

{% block extra_style %}

{% endblock extra_style %}

{% block left_sidebar_content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for app_name, app_dict in djangui_apps.iteritems %}
      <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="{{ app_name }}">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ app_name }}_accordion" aria-expanded="true" aria-controls="{{ app_name }}_accordion">
              {{ app_name }}
            </a>
          </h4>
        </div>
        <div id="{{ app_name }}_accordion" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ app_name }}">
            <div class="panel-body">
                <div class="list-group">
                {% for script_info in app_dict.scripts %}
                  <a href="#" data-href="{{ script_info.url }}" class="list-group-item djangui-script-url">
                    <h4 class="list-group-item-heading djangui-script-title">{{ script_info.title }}</h4>
                    <p class="list-group-item-text djangui-script-description">{{ script_info.description }}</p>
                  </a>
                {% endfor %}
                </div>
            </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}

{% block center_content %}
    <div class="page-header">
        <em><h3 id="djangui-script-title"></h3></em>
        <p id="djangui-script-description"></p>
    </div>
    <form id="djangui-job-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="job-name">{% trans "Job Name" %}</label>
            <input class="form-control" id="djangui_job_name" type="text" name="djangui_job_name" placeholder="{% trans "Job Name" %}"/>
        </div>
        <div class="form-group row">
            <label for="job-description">{% trans "Job Description" %}</label>
            <textarea class="form-control" id="djangui_job_description" cols="30" rows="5" name="djangui_job_description" placeholder="{% trans "Enter job description here..." %}"></textarea>
        </div>
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" id="djangui-script-tabs">
{#            <li role="presentation" class="active"><a href="#required" aria-controls="home" role="tab" data-toggle="tab">{% trans "Required" %}</a></li>#}
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" id="djangui-script-content">
            <div role="tabpanel" class="tab-pane active" id="required"></div>
          </div>

        </div>
        <div class="pull-right">
            <button id="djangui-form-submit" type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </form>
{% endblock center_content %}

{% block right_sidebar_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Job History" %}</h3>
  </div>
  <div class="panel-body">
    <table id="djangui-job-table" class="table hover stripe">
    <thead>
        <th>{% trans "Job Id" %}</th>
        <th>{% trans "Job Name" %}</th>
        <th>{% trans "Job Status" %}</th>
        <th>{% trans "Submission Time" %}</th>
    </thead>
    <tbody>

    </tbody>

    </table>
  </div>
</div>
{% endblock right_sidebar_content %}

{% block inline_js %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function(){
        function clearErrors(){
            $('.errorlist').remove();
            $('.has-error').toggleClass('has-error');
        }

        function addUlError($field, error){
            $field.closest('.form-group').addClass('has-error');
            $field.after('<ul class="errorlist list-unstyled alert alert-danger"><li class="error">'+error+'</li></ul>');
        }

        function processErrors($form, errors){
            for (var key in errors){
                var error = errors[key][0];
                var $field = $('#'+key);
                if(!$field.length)
                    $field = $('[name="'+key+'"]');
                addUlError($field, error);
            }
        }

        $('.djangui-script-url').click(function(event){
            event.preventDefault();
            clearErrors();
            // set the details of what script we clicked
            var title = $(this).find('.djangui-script-title').text();
            var desc = $(this).find('.djangui-script-description').text();
            var $title = $('#djangui-script-title');
            $title.text(title);
            $('#djangui-script-description').text(desc);
            $('.djangui-dynamic-tabs').remove();
            $.get($(this).data('href'), {},function(data){
                var $jobform = $('#djangui-job-form');
                $jobform.attr('action', data.action);
                var $djangui_tabs = $jobform.find('#djangui-script-tabs');
                var $djangui_content = $jobform.find('#djangui-script-content');
                for(var i=0;i<data.groups.length;i++){
                    $djangui_tabs.append('<li class="djangui-dynamic-tabs" role="presentation"><a href="#djangui_dynamic_tab'+i+'" aria-controls="profile" role="tab" data-toggle="tab">'+data.groups[i].group_name+'</a></li>');
                    var new_panel = $('<div role="tabpanel" class="tab-pane djangui-dynamic-tabs" id="djangui_dynamic_tab'+i+'"></div>');
                    new_panel.html(data.groups[i].form);
                    $djangui_content.append(new_panel);
                }
                var $first = $('a[href="#djangui_dynamic_tab0"]');
                if($first.length)
                    $first.trigger('click');
                window.scrollTo(0, $title.closest('.center-div').offset().top);
{#                bindPanels();#}

            }, "json");
        });

        {% if clone_job %}
            $.get('{{ clone_job.url }}', {task_id: '{{ clone_job.task_id }}'},function(data){
                var $jobform = $('#djangui-job-form');
                $jobform.attr('action', data.action);
                var $djangui_tabs = $jobform.find('#djangui-script-tabs');
                var $djangui_content = $jobform.find('#djangui-script-content');
                for(var i=0;i<data.groups.length;i++){
                    $djangui_tabs.append('<li class="djangui-dynamic-tabs" role="presentation"><a href="#djangui_dynamic_tab'+i+'" aria-controls="profile" role="tab" data-toggle="tab">'+data.groups[i].group_name+'</a></li>');
                    var new_panel = $('<div role="tabpanel" class="tab-pane djangui-dynamic-tabs" id="djangui_dynamic_tab'+i+'"></div>');
                    new_panel.html(data.groups[i].form);
                    $djangui_content.append(new_panel);
                }
                var $first = $('a[href="#djangui_dynamic_tab0"]');
                if($first.length)
                    $first.trigger('click');
            }, "json");
        {% endif %}

{#        function bindPanels(){#}
{#             $('#djangui-script-tabs a[data-toggle="tab"]')#}
{#            .on('show.bs.tab', function(e) {#}
{#                var window_height = $(window).height()-$('nav.navbar').height();#}
{#                var script_height = $(e.target.getAttribute('href')).height()+$(e.target.getAttribute('href')).offset().top;#}
{#                if (script_height > window_height){#}
{#                    $("div.djangui-affix")#}
{#                    .removeClass("djangui-affix affix affix-top affix-bottom").removeData('bs.affix');#}
{#                }#}
{#                else{#}
{#                $("div.djangui-affix").addClass('djangui-affix affix affix-top affix-bottom').attr('data-spy', 'affix');#}
{##}
{#                }#}
{#            });#}
{#        }#}




        $('#djangui-form-submit').click(function(event){
            event.preventDefault();
            var $form = $(this).closest('form');
            var formData = new FormData($form[0]);
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: formData,
                dataType: 'json',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data){
                    clearErrors();
                    if(data.valid){
                        // clear form
                        $form[0].reset();
                    }
                    else{
                        processErrors($form, data.errors)
                    }
                }
            });
        });

        var djangui_dt = $('#djangui-job-table').dataTable({
            "columnDefs": [
                { "visible": false,  "targets": [ 0 ] }
            ],
            "order": [[ 3, "desc" ]]
        });
        var djangui_dt_api = djangui_dt.api();
        $('#djangui-job-table_wrapper').addClass('col-md-12');

        var dt_jobs = {};

        var task_reloaded = false;

        // loop for job history updates
        var tid = setInterval(celeryRefresh, 10000);
        function celeryRefresh() {
            $.get("{% url "celery_results" %}", function(data){
                for(var i=0;i<data.length;i++){
                    if(!dt_jobs[data[i].job_id] || dt_jobs[data[i].job_id] != data[i].job_status){
                        if(dt_jobs[data[i].job_id] && dt_jobs[data[i].job_id] != data[i].job_status){
                            var indexes = djangui_dt_api.rows().eq( 0 ).filter( function (rowIdx) {
                                return djangui_dt_api.cell( rowIdx, 0 ).data() === data[i].job_id ? true : false;
                            } );
                            if(window.location.href.indexOf(data[i].job_id) != -1){
                                // job update while on task page, stdout/etc will be updated, so just reload the page
                                if(!task_reloaded)
                                    location.reload();
                                task_reloaded = true;
                                return;
                            }
                            djangui_dt.fnUpdate(data[i].job_status, indexes[0], 2);
                        }
                        else
                            djangui_dt_api.row.add([data[i].job_id, '<a href="'+data[i].job_url+'">'+data[i].job_name+'</a>', data[i].job_status, data[i].job_submitted]);
                        dt_jobs[data[i].job_id] = data[i].job_status;
                    }
                }
                djangui_dt_api.draw();
            }, "json");
        }
        celeryRefresh();
    });
</script>
{% endblock inline_js %}