{% extends "base.html" %}
{% load i18n %}

{% block extra_style %}
ul.errorlist li {
list-style-type: none;
 }
{% endblock extra_style %}

{% block left_sidebar_content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for app_name, app_dict in djangui_apps.iteritems %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="{{ app_name }}">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ app_name }}_accordion" aria-expanded="true" aria-controls="{{ app_name }}_accordion">
              {{ app_name }}
            </a>
          </h4>
        </div>
        <div id="{{ app_name }}_accordion" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ app_name }}">
            <div class="panel-body">
            {% for script_info in app_dict.scripts %}
                <div class="panel panel-default">
                  <a href="#" data-href="{{ script_info.url }}" class="djangui-script-url"><div class="panel-heading">{{ script_info.title }}</div></a>
                  <div class="panel-body">
                    {{ script_info.description }}
                  </div>
                </div>
            {% endfor %}
            </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}

{% block center_content %}
    <form id="djangui-job-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="job-name">{% trans "Job Name" %}</label>
            <input class="form-control" id="djangui_job_name" type="text" name="djangui_job_name" placeholder="{% trans "Job Name" %}"/>
        </div>
        <div class="form-group row">
            <label for="job-description">{% trans "Job Description" %}</label>
            <textarea class="form-control" id="djangui_job_description" cols="30" rows="5" name="djangui_job_description" placeholder="{% trans "Enter job description here..." %}"></textarea>
        </div>
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#required" aria-controls="home" role="tab" data-toggle="tab">{% trans "Required" %}</a></li>
            <li role="presentation"><a href="#optional" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Optional" %}</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="required"></div>
            <div role="tabpanel" class="tab-pane" id="optional"></div>
          </div>

        </div>
        <div class="pull-right">
            <button id="djangui-form-submit" type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </form>
{% endblock center_content %}

{% block right_sidebar_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Job History" %}</h3>
  </div>
  <div class="panel-body">
    <table class="table">
    <thead>
        <th>{% trans "Job Name" %}</th>
        <th>{% trans "Job Status" %}</th>
        <th>{% trans "Submission Time" %}</th>
    </thead>
    <tbody>

    </tbody>

    </table>
  </div>
</div>
{% endblock right_sidebar_content %}

{% block inline_js %}
<script type="text/javascript">

    $(document).ready(function(){
        function clearErrors(){
            $('.errorlist').remove();
            $('.has-error').toggleClass('has-error');
        }

        function addUlError($field, error){
            $field.closest('.form-group').addClass('has-error');
            $field.after('<ul class="errorlist alert alert-danger"><li class="error">'+error+'</li></ul>');
        }

        function processErrors($form, errors){
            for (var key in errors){
                var error = errors[key][0];
                var $field = $('#'+key);
                if(!$field.length)
                    $field = $('[name="'+key+'"]');
                addUlError($field, error);
            }
        }

        $('.djangui-script-url').click(function(event){
            event.preventDefault();
            clearErrors();
            $.get($(this).data('href'), {},function(data){
                var $jobform = $('#djangui-job-form');
                $jobform.attr('action', data.action);
                $jobform.find('#required').html(data.required);
                $jobform.find('#optional').html(data.optional);
            }, "json");
        });

        $('#djangui-form-submit').click(function(event){
            event.preventDefault();
            var $form = $(this).closest('form');
            var formData = new FormData($form[0]);
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: formData,
                dataType: 'json',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data){
                    clearErrors();
                    if(data.valid){
                        // clear form
                        $form[0].reset();
                    }
                    else{
                        processErrors($form, data.errors)
                    }
                }
            });
        });

        // loop for job history updates
    });
</script>
{% endblock inline_js %}